*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111  ;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100px;
}
.border{
    border: 2px solid transparent;
    border-radius: 2px;
}
.border:hover{
    border: 2px solid white;
}
.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second{
    font-size:1rem ;
    margin-left: 3px;
}
.add-icon{
    display:flex;
    align-items: center;
}
.nav-search{
    display:flex;
    align-items: center;
    height:40px ;
    width:620px;
    border-radius: 4px;

}
.nav-search:hover{
    border: 2px solid #febd68;
}
.nav-search-select{
    height: 100%;
    width:50px ;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 1rem;
    
}
.nav-search-bar{
    height:38px ;
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{

    height:100% ;
    width:45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-bottom-right-radius:4px;
    border-top-right-radius: 4px ;
}
.nav-lang{
    height:50px;
    width:75px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.country-icon{

    background-image: url(Flag_of_the_United_States.png);
    background-size: cover;
    height:16px ;
    width:22px;
}
.country{
    background-color: #0f1111;
    color: white;
    border: none;
    height: 15px;
    width: 40px;
}
.sign-in{
    height:50px;
    width: 150px;
    padding-top: 15px;
   
}
.nav-line-1{
    color: white;
    font-size: 0.85rem;

}
.acc{
font-size:0.9rem;
font-weight:700 ;
}
.nav-sec{
    display: flex;
    align-items: center;
}
.nav-sec select{
    background-color: #0f1111;
    border:none;
    color: white;
}
.nav-return{
    height: 50px;
    width: 70px;
    padding-top: 15px;
    
}
.nav-cart{
    height:50px;
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232F3E;
    color: white;
}
.panel-all{
    display: flex;
    align-items: center;
    width:60px ;
    height: 30px;
    margin-left: 0;
    padding-left: 5px;
    justify-content: center;
}
.panel-all i{
    padding-right: 5px;

}
.shop{
    height:30px;
    width: 1200px;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 10px;

}
.todays-deals{
    height: 30px;
    width:110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.customer-service{
    height: 30px;
    width:135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 0.9rem;
    
}
.registry{
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.gift-cards{
    height:30px;
    width:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.sell{
    height:30px;
    width:41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-size: 0.9rem;
}
.shop-deals{
    height:30px;
    width:215px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.para-tag{
    color:black;
    font-size: 0.85rem;
    background-color: white;
    height:40px;
    width:98%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para-tag a{
    color: #007185;
}
.para-tag a:hover{
    color: red;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 0;
    background-color: rgb(210, 239, 254);
}
.box{
    height: 385px;
    width:24%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    padding:20px 0px 15px;
    margin-top: 1rem;
    
}
.box-img{
    height:320px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    font-size: 0.85rem;
    color:#007185 ;
}
.box-content p:hover{
    color: red;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}
ul{
    margin-top: 20px;
    
}
ul a{
    display: block;
    color: #DDDDDD;
    text-decoration:none ;
    font-size: 0.75rem;
    margin-top: 10px;
}
ul a:hover{
    text-decoration: underline;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 150px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image: url("amazon_logo.png");
    background-size: contain;
    height:70px;
    width:130px;
    margin-right: 50px;
}
.foot-panel4{
    background-color:#0f1111 ;
    color: white;
    height:50px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 10px;
}
.pages a{
    text-decoration: none;
    color:white;
    
}
.copyright{
    text-align: center;
    font-size: 0.7rem;
    padding-top:5px;
}
.buttongrp{
    background-color: #222f3d;
    border: 0.2px solid white;
    color: white;
    border-radius: 2px;
    height: 30px;
    border:o.6px;
    padding: 6px 18px 6px 8px;
    margin-right: 4px;
    font-weight: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    margin-bottom: 10px;
}
.money{
    width: 150px;
}
.bottom-signin{
    background-color: white;
    height:150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-signin{
    height: 100px;
    border-top: 0.5px solid rgb(105, 102, 102);
    border-bottom: 0.5px solid rgb(105, 102, 102);
    width:100%;
    
}
.inner-signin2{
    text-align: center;
    margin-top: 15px;
}
.start{
    color: #007185 ;
}
.start:hover{
    color: rgb(208, 5, 5);
}
.sign-in-button{
    font-size: 0.rem;
    height: 27px;
    width:250px ;
    background-color: #febd68;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin-left: 40%;
    border: 1px solid #feaf48 ;
    margin-top: 4px;
    margin-bottom: 4px;
}
